* {
    margin: 0;
    padding: 0;
}

.page_container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.page_container .components_section {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 100%;
    height: 100%;
    align-items: center;
}

.page_container .components_section .profile_section {
    background-color: rgb(60, 146, 146);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100%;
    margin-left: 100px;
}

.page_container .components_section .profile_section .profile_info {
    padding-top: 50px;
    width: inherit;
    height: auto;
}

.page_container .components_section .profile_section .profile_info img {
    width: 300px;
    height: 180px;
}